<div class="column" style="text-align: center">
	<figure class="image is-128x128 staff-frame">
		<img class="is-rounded" src="<%= pic %>">
	</figure>
	<p class="staff-name"><%= name %></p>
	<p class="staff-role"><%= role %></p>
	<p class="staff-link"></p>
</div>