<html>
	<head>
		<%- include('includes'); %>
    </head>
    <body>
        <section class="hero is-danger">
            <div class="hero-body">
                <div class="container">
                    <h1 style="font-size: 5rem; font-weight: 1000">에러 발생! <%= error.status %></h1>
                    <h2 style="font-size: 2rem"><%= message %></h2>
                </div>
            </div>
        </section>
        <div class="container" style="margin-top: 2rem">
            <div style="font-size: 2rem">스택</div>
            <div style="margin-left: 20px; font-size: 1.1rem; line-height: 2rem"><%= error.stack %></div>
        </div>
    </body>
</html>